<head>
	<title>Ennäe, hingeline!</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h3>
		Süütan pigem küünla, kui kirun pimedust.
	</h3>
		<br>
		<br>
		<br>
		<br>
		<br>
	<p>
		pimedus.network:8448
	</p>
		<br>
		<br>
	<h3>Matrix</h3>
	<p><a href="https://www.matrix.org">Matrix</a> on <a href="https://matrix.org/docs/spec/"> avatud protokoll</a> reaalajasuhtluseks internetis 
		nii teksti, video kui ka heli vahendusel, mis on disainitud lubamaks kasutajal, kellel on konto ühe teenusepakkuja juures, suhelda kasutajatega, 
		kelle kontod asuvad teiste teenusepakkujate serverites. Seetõttu sarnaneb Matrix <a href="https://en.wikipedia.org/wiki/SMTP">SMPT</a> 
		[Simple Mail Transfer Protocol] e. e-kirja protokolliga.
		<br>
		<br>
		Tehnilisest perspektiivist on Matrix rakenduskihil asuv suhtlusprotokoll födereeritud reaalajasuhtluseks, mis pakub HTTP APIsid ja
		avatud algkoodiga viiteimplementatsioone turvaliselt püsivate sõnumite edastamiseks <a href="https://en.wikipedia.org/wiki/JSON">JSON</a> 
		formaadis üle serveritevahelise avatud föderatsiooni integreerudes standartsete veebiteenustega <a href="https://webrtc.org/">WebRTC</a> 
		kaudu, hõlbustades brauserivaheliste aplikatsioonide arendust.
	</p>
	<hr>
	<h3>Synapse</h3>
	<p><a href="https://matrix.org/docs/projects/server/synapse.html">Synapse</a> on Matrix protokollil põhinev 
		avatud <a href="https://github.com/matrix-org/synapse">algkoodiga</a> viiteserver, mis võimaldab 
		<a href="https://www.digitalocean.com/community/tutorials/how-to-install-matrix-synapse-on-ubuntu-16-04">suhteliselt kerge vaevaga</a>
		üles seada personaalse serveri turvaliseks suhtluseks.
	</p>
	<hr>
	<h3>Riot</h3>
	<p>
		<a href="https://www.riot.im">Riot</a> on Matrix protokollil põhinev avatud <a href="https://github.com/vector-im/riot-web">algkoodiga</a>
		viiteklient, mis võimaldab kasutajal mõnd Synapse'i serverit kasutada. Riot eksisteerib nii veebirakendusena aadressil
		<a href="https://www.riot.im">https://www.riot.im</a>, kõigi suuremate operatsioonisüsteemide töölauarakendusena ja on allalaetav androidile
		nii <a href="https://f-droid.org/en/">F-Droid'i</a> kui ka Play Store'i kaudu.
	</p>
	<hr>
	<h3>pimedus.network</h3>
	<p>
		Ka pimeduses pesitseb üks sünaps, mis kõiksugustele ränduritele puhkepaigaks mõeldud. 
		<br>
		Koputades me uksele ulatatakse rändureil <a href="sedel.html">sedel</a>...
		ja edasine on juba nende endi teha.
	</p>	
</body>
