<head>
	<title>Juhend</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"> 
</head>
<body>
	<h3>
		<a name="sisukord">
			[1.0] Sisukord
		</a>
	</h3>


	<a href="#sisukord">
			[1.0] Sisukord	
		</a>
		<br>
		<a href="#sissejuhatus">
			[2.0] Sissejuhatus
		</a>
		<br>
		<a href="#kliendid">
			[3.0] Kliendid
		</a>
		<br>
		&emsp;&emsp;&emsp;&emsp;
		<a href="#riot">
			[3.1] Riot
		</a>
		<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		<a href="#riot_reg">
			[3.1.1] Registratsioon
		</a>
		<br>
		<a href="#serverid">
			[4.0] Serverid
		</a>
		<br>
		&emsp;&emsp;&emsp;&emsp;
		<a href="#matrix-synapse">
			[4.1] matrix-synapse
		</a>
	<h3>
		<a name="sissejuhatus">
			[2.0] Sissejuhatus
		</a>	
	</h3>
	<p>
		pimedus.network suudab pakkuda praktilist anonüümsust digitaalses suhtluses.
		Selleks on aga võrgustiku kasutajal vaja tunda ökosüsteemi olulisi kontsepte
		ja olla pädev saadaoleva turvafunktsionaalsuse kasutamises. 
	</p>
	<h3>
		<a name="kliendid">
			[3.0] Kliendid
		</a>
	</h3>
	<p>
		Klient e. kasutajaliides serveriga suhtlemiseks.
	<br>
	<br>
		Matrix protokolli lahtise iseloomu tõttu on kõigil huvilistel kliente arendada.
		Hetkel on küll vaid üks klient mis suudab adekvaatselt krüpteeritud suhtlust võimaldada.	
	</p>
	<h3>
		<a name="riot">
			[3.1] Riot
		</a>
	</h3>
	<p>
		Riot on Matrixiga samaaegselt arendatud viiteklient st. kõiki protokolli võimalusi rakendav klient.
		Allpool olev juhend kasutab Riot veebiklienti aadressil <a href="https://riot.im/app/">riot.im/app</a>.
	</p>
	<h3>
		<a name="riot_reg">
			[3.1.1] Registratsioon
		</a>
	</h3>
	<p>
		<img src=riot_login.png>
	</p>
</body>
















