<head>
    <title>Seinal ripub kulunud sedel.</title>
	<meta charset="UTF-8">	
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h3>Räsit' rändur, kuula nüüd!</h3>

	<p>Sedelil on lühike nimekiri olulistest punktidest mida meie teenuste kasutamiseks on tarvilik mõista.</p>
	<ul>
		<li>pimedus.network on võimeline pakkuma anonüümset ja turvalist suhtluskanalit. 
		<br>
		    Seda aga vaid juhul kui suhtlevad osapooled peavad täielikult kinni juhendist</a>!
		<br>
		</li>	
		<br>
		<li>Kõik valgustkartvad jutuajamised tuleb läbi viia juhendist lähtuvalt!
		<br>Selle nõude eiramine ohustab tervet kogukonda. Ära tekita probleeme.
		</li>
		<br>
		<li>pimedus.network peamiseks eesmärgiks on tagada Saladuse ja Siili vaheline suhtlus.
		<br>
		    Ülejäänu on siin Saladuse ja Admirali huvist, ilma mingisuguse tagatiseta.
		</li>
	</ul>
        <form method="post" action="https://riot.im/app/#/register">
                <p>
                        <input type="checkbox" required value="">
                        Olen lugenud ja mõistan nii <a href="sedel.html">sedeli</a>
                        kui ka <a href="juhend.html">juhendi</a> sisu.
                </p>
                
		<input type="checkbox" name="kamarajura" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
                <button>
                Registreeri
                </button>
        </form>
</body>
