body {
    background-color: black;}

p, li {
    font: monospace; 
    color: #00FF00; 
    text-align: left;}

a:link, a:hover, a:active, a:visited {
    color: #00FF00; 
    text-decoration: underline;}

h1, h2, h3, h4, h5 {
    font: monospace; 
    color: #00FF00; 
    text-align: center;}

hr {
    color: #00FF00;}